
@import './sideMenuItem';
@import './sideMenusearch';
@import './sideMenuToggle';

.side-menu {
   width: 17%;
   height: 100vh;
   position: absolute;
   min-width: 230px;
   scroll-behavior: smooth;
   overflow-y: visible;
   margin: 0;
   z-index: 1000;
   color: rgba(165, 167, 168, 1);
   background-color: rgba(55, 60, 64, 1);
   box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.3);
   transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

   & ul {
      padding-inline-start: 0px;
      list-style-type: none;
   }
   &:hover {
      box-shadow: 6px 0px 12px 0px rgba(0,0,0,0.3);
   }
}

.closed {
   transform: translateX(calc(-100% + 20px));
}

.closed ~ .content-wrapper {
   margin-left: 0%;
   margin-right: 40%;
}

.closed ~ .sandbox-area {
   width: 40%;
}

.closed ~ .sandbox-area {
   width: 40%;
}

.closed ~ .footer-area{
   margin-left: 0%;
}

.closed .expand-icon {
   transform: rotate(0deg);
}

.side-menu.closed {}

// .expandable {}

// .side-menu.expandable:hover {
//    transform: translateX(0%);
// }

// .side-menu.expandable:hover~.content-wrapper {
//    margin-left: 19%;
//    margin-right: 30%;
// }

// .side-menu.expandable:hover~.sandbox-area {
//    width: 30%;
// }

.side-menu.fixed {
   position: fixed;
}

.top-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 30px;
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: rgba(72, 76, 81, 1);
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: rgba(0, 0, 0, 0.3);

   & h2 {
      font-weight: 300;
      font-size: 20px;
      color: #eee;
   }

   & h5 {
      margin-top: 10px;
      font-size: 14px;
      font-weight: 200;
      color: rgba(150, 157, 158, 1);
   }
}

.middle-section {
   padding-top: 1em;
   padding-bottom: 1em;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-bottom-color: #484c50;
}

.main-section {
   padding-top: 1em;
}

.menu-header {
   text-transform: uppercase;
   padding-left: 30px;
   padding-top: 30px;
   font-weight: 100;
   font-size: 16px;
   color: #eee;
}
