
$peeky-height: 65;
$navbar-color: rgba(35, 40, 45, 1);
$expand-color-active: rgba(0, 0, 0, 0.3);

.nav {
	box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.4);
	align-items: center;
	background-color: $navbar-color;
	position: absolute;
	color: #eee;
	display: flex;
	height: 50px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2000;

	@include media-max(phone_xl) {
		height: 40px;
		justify-content: space-between;
	}
	
	@include media-max(phone_xl) {
		position: fixed;
	}
	
	padding: {
		top: 0.8em;
		bottom: 0.8em;
		left: 1.5em;
		right: 2em;
	}

	ul {
		margin-left: auto;
		margin-right: 1em;
		list-style: none;
		font-size: 0.8em;
		text-transform: uppercase;
		display: -webkit-inline-box;

		@include media-max(phone_xl) {
			display: none;
		}

		@include media-max(tablet) {
			margin-left: 0;
			margin-right: 0;
			padding: 0;
    		list-style-type: none;
		}

		@include media-min-max(tablet, tablet_xl) {
			margin-right: 0.3em;
		}
	}

	ul > li {
		display: inline;
		padding: 0 2em;
		letter-spacing: 1px;

		@include media-min-max(phone_xl, tablet) {
			padding: 0 0.8em;
		}

		@include media-min-max(tablet, tablet_xl) {
			padding: 0 1em;
		}

		@include media-max(tablet) {
			padding: 0 0.2em;
		}
	}

	&-padder {
		height: 50px;
		position: static;
		background-color: $navbar-color;

		@include media-max(tablet) {
			height: 40px;
		}

		padding: {
			top: 0.8em;
			bottom: 0.8em;
			left: 1.5em;
			right: 3em;
		}
	}

	&-transition {
		transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0.5s;
	}

	&-peeky {
		&:hover {
			transform: translateY(0) !important;
			transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
		}
		&:hover .nav-link {
			color: rgb(171, 172, 174);
			transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
		}
	}

	&-sticky .nav-link {
		color: transparent;
		transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0.35s;
	}

	&-sticky {
		position: fixed;
		transform: translateY(-62px) !important;

		@include media-max(phone_xl) {
			transform: translateY(0) !important;
		}

		@include media-min-max(phone_xl, tablet_xl) {
			transform: translateY(-58px) !important;
		}
	}

	&-logo {
		display: inline-flex;
		text-align: center;

		&-image {
			width: 40px;
			height: 40px;
			margin-right: 1em;
			//filter: drop-shadow(0px 0px 8px rgba(238, 150, 2, 1));
		}

		&-text {
			margin: auto;
			font-size: 1.2em;
			display: inline;
			font-weight: bold;

			a {
				text-decoration: none;
				color: #eee;
			}
		}
	}
}

.install-button {
	cursor: pointer;
	display: flex;
	padding: 6px;
	margin-right: 1em;
	border-radius: 50%;
	justify-content: center;
	background-color: rgb(31, 35, 40);
	transform: translateX(15px);
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.4);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

	&-icon {
		font-size: 22px;
		color: rgba(158, 108, 108, 0.7);
		transition: font-size 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
		transform: rotate(-180deg);
		margin: auto;
	}

	&:hover {
		box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		background-color: rgb(32, 37, 43);
	}

	&:active {
		transform: translateX(15px) scale(0.9);
		box-shadow: 0 0 2px 1px $expand-color-active;
	}
}
