
$peekyHeight: 65;

.nav {
   box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.4);
   align-items: center;
   background-color: rgba(38, 43, 47, 1);
   padding: {
      top: 0.8em;
      bottom: 0.8em;
      left: 1.5em;
      right: 2em;
   }
   position: absolute;
   color: #eee;
   display: flex;
   height: 50px;
   top: 0;
   left: 0;
   right: 0;
   z-index: 2000;

   ul {
      margin-left: auto;
      margin-right: 1em;
      list-style: none;
      display: flex;
      font-size: 0.8em;
      text-transform: uppercase;

      li {
         display: inline;
         padding: 0 2em;
         letter-spacing: 1px
      }
   }

   &-logo {
      display: inline-flex;
      text-align: center;

      &-image {
         width: 40px;
         height: 40px;
         margin-right: 1em;
         //filter: drop-shadow(0px 0px 8px rgba(238, 150, 2, 1));
      }

      &-text {
         margin: auto;
         font-size: 1.2em;
         display: inline;
         font-weight: bold;

         a {
            text-decoration: none;
            color: #eee;
         }
      }
   }
}

.nav-transition {
   transition: all 0.3s cubic-bezier(.25, .8, .25, 1) 0.5s;
}

.nav-peeky {
   &:hover {
      transform: translateY(0px) !important;
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
   }
}

.nav-sticky {
   position: fixed;
   transform: translateY(-65px) !important;
}

.nav-padder {
   position: static;
   padding: {
      top: 0.8em;
      bottom: 0.8em;
      left: 1.5em;
      right: 3em;
   }
   height: 50px;
}
