@import './partials/ripple';
@import './partials/elevate';
@import './partials/navbar';
@import './partials/status';
@import './partials/status2';
@import './partials/sandbox/sandbox';
@import './partials/content/content';
@import './partials/sidebar/sideMenu';
@import './partials/footer/footer';
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:500|Open+Sans:600|Roboto&display=swap');

* {
	margin: 0px;
}

a {
	text-decoration: none;
	color: #eee;
}

body {
	margin: 0;
	color: #eee;
	background-color: rgba(39, 43, 45, 1);
	font-family: 'Roboto', sans-serif;
	font-family: sans-serif;
	text-decoration: none;
	letter-spacing: 0.6px;
	font-weight: 400;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body::-webkit-scrollbar {
	height: 16px;
	overflow: visible;
	width: 16px;
	display: none;
}

.side-menu::-webkit-scrollbar {
	width: 8px;
	display: none;
	background-color: rgba(0, 0, 0, 0);
}

.side-menu::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0);
}

.side-menu::-webkit-scrollbar-thumb {
	border-radius: 10px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
	/* box-shadow: inset 0 0 6px rgba(0, 0, 0, .3); */
	background-color: #555;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.natural {
	display: block;
}

.fixed {
	position: fixed;
}

.bottom {
	display: block;
}

.invisible {
	display: none;
}