.route-page {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;

	&-loading {
		background-color: rgba(46, 50, 54, 1);
		animation: backgroundAnim 0.5s cubic-bezier(0, 0.2, 0.8, 1) normal forwards;
   }
   
	&-loaded  {
		background-color: rgba(46, 50, 54, 0);
	}
}

@keyframes backgroundAnim {
	0% {
		color: rgba(255, 255, 255, 0);
		background-color: rgba(46, 50, 54, 1);
	}

	100% {
		color: rgba(255, 255, 255, 1);
		background-color: rgba(46, 50, 54, 0);
	}
}

.content-wrapper {
	display: flex;
	flex-direction: column;
	will-change: margin-right, margin-left;
	margin-left: calc((230px + 17%) - 17%);
	margin-right: 35%;
	background-color: rgb(48, 53, 57);
	transition: all 0.3s $standardInterpolator;
}

.content-padder {
	padding-bottom: 3em;
}

.content {
	padding-top: 3em;
	padding-bottom: 0em;
	padding-left: 2em;
	padding-right: 2em;
	min-height: 400px;
	height: 400px;
	width: auto;
	position: relative;
	background-color: rgb(48, 53, 57);
	display: flex;
	flex-direction: column;

	&-inner  {
		display: flex;
		background-color: rgb(55, 60, 64);
		height: -webkit-fill-available;
		border-radius: 8px;
	}
}

.content > .params-table {
	width: 100%;
	text-align: left;
	padding-left: 1em;
	padding-right: 1em;
	background-color: rgba(37, 42, 46, 1);
}

.content > .params-table th {
	height: 40px;
}

.content > .params-table tr {
	height: 40px;
}
