@import './sideMenuItem';
@import './sideMenusearch';
@import './sideMenuToggle';
@import './sideSubMenu';

.side-menu-container {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	scroll-behavior: smooth;	
}

.side-menu-container::-webkit-scrollbar {
	width: 8px;
	display: none;
	background-color: rgba(0, 0, 0, 0);
}

.side-menu-container::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0);
}

.side-menu-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #555;
}

.side-menu {
	width: calc(230px + 5%);
	height: calc(100% - 14px);
	position: absolute;
	overflow-y: visible;
	will-change: transform;
	z-index: 1000;
	color: rgba(165, 167, 168, 1);
	background-color: rgba(55, 60, 64, 1);
	box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.3);
	transition: all 0.3s $standardInterpolator;

	& ul {
		padding-inline-start: 0px;
		list-style-type: none;
	}

	&.fixed {
		position: fixed;
	}

	&:hover {
		box-shadow: 6px 0px 12px 0px rgba(0, 0, 0, 0.3);
	}

	&-peek {
		transform: translateX(0px) !important;
		transition: all 0.3s $standardInterpolator;
	}

	&-peek > .search {
		opacity: 1 !important;
	}

	&-closed {
		transform: translateX(calc(-100% + 20px));
	}

	&-closed > .search {
		opacity: 0;
	}

	&-closed ~ .content-wrapper {
		will-change: margin-right, margin-left;
		margin-left: 20px;
		margin-right: 40%;
	}

	&-closed ~ .sandbox-area {
		width: 40%;
	}

	&-closed ~ .footer-area {
		margin-left: 0%;
	}

	&-closed .expand-icon {
		transform: rotate(0deg);
	}
}

.top-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: rgba(68, 72, 77, 1);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 0, 0, 0.3);

	& h2 {
		font-weight: 300;
		font-size: 20px;
		color: #eee;
	}

	&-version {
		margin-top: 10px;
		font-size: 14px;
		font-weight: 200;
		/*opacity: 0.75;*/
		color: rgba(178, 182, 186, 1);
	}
}

.middle-section {
	padding-top: 0;
	padding-bottom: 0;
}

.main-section {
	padding-top: 1em;
	margin-bottom: 2em;
}

.menu-header {
	text-transform: uppercase;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 25px;
	font-weight: 500;
	font-size: 14px;
	color: #eee;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #484c50;
}
