$background-color: rgb(55, 60, 64);
$background-color-hovered: rgb(67, 72, 77);

.menu-item-wrapper {
	display: block;
}

.menu-item {
	@include transition(background-color 0.2s ease-out);
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $background-color;

	i {
		color: rgba(162, 166, 170, 1);
		font-weight: 100;
		font-size: 16px;
		padding: 1em;
		position: absolute;
		right: 0;
		transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
	}

	a {
		color: rgba(162, 166, 170, 1);
		font-size: 14px;
		display: block;
		letter-spacing: 0.6px;
		font-weight: 400;
		position: relative;
		width: 100%;
		height: 100%;
		transition: color 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
		padding: {
			top: 1.3em;
			bottom: 1.3em;
			left: 2em;
		}
	}

	&:hover:not(.active) {
		background-color: rgb(67, 72, 77);
	}

	&:hover > i {
		color: rgb(220, 220, 220);
	}

	&:hover > a {
		color: rgb(230, 230, 230);
		font-weight: 500;
	}

	&.active > i {
		color: rgb(220, 220, 220);
		transform: rotate(90deg);
	}

	&.active > a {
		color: rgb(230, 230, 230);
		font-weight: 500;
	}

	&.active:hover {
		@include transition(background-color 0.2s ease-out);
		background-color: $background-color-hovered;
	}
}
