$sub-menu-background: rgba(47, 51, 56, 1);
$accect-color: rgb(220, 139, 2);

.sub-menu {
	list-style: none;
	position: absolute;
	width: 100%;
	height: auto;
	visibility: hidden;
	background: $sub-menu-background;
	overflow: hidden;
	box-shadow: inset 1px 0 3px 2px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 8px 8px -6px rgba(0, 0, 0, 0.2);
}

.sub-menu-item {
	@include transition(box-shadow 0.2s ease-out, border-left 0.2s ease-out);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 1.4em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 1em;
	border-left-color: $accect-color;
	border-left-width: 0;
	border-left-style: solid;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);

	&-wrapper {
		display: flex;
		justify-items: center;
		align-items: center;
	}

	&:active {
		@include transition(box-shadow 0.2s ease-out, transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1));
		transform: translateY(3px);
		box-shadow: 0 0 1px -1px rgba(0, 0, 0, 0.15) !important;
	}

	a {
		@include transition(color 0.2s ease-out);
		display: inline-block;
		color: rgb(170, 172, 173);
		font-size: 12px;
		padding: 8px 16px;
		text-decoration: none;
		font-weight: 400;
		letter-spacing: 1px;
	}

	i {
		color: rgba(110, 110, 110, 1);
		font-weight: 100;
		font-size: 16px;
	}

	&:hover {
		@include transition(box-shadow 0.2s ease-out, border-left 0.2s ease-out, transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1));
		box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
		border-left-color: $accect-color;
		border-left-width: 0.3em;
		border-left-style: solid;
	}

	&:hover i {
		color: rgb(220, 220, 220);
	}

	&:hover a {
		color: rgb(190, 192, 193);
	}
}

.sm-expanded {
	transition: all 0.3s $standardInterpolator;
}
