.sub-menu {
  list-style: none;
  padding: 0 0;
  position: absolute;
  width: 100%;
  height: auto;
  visibility: hidden;
  background: rgba(45, 49, 53, 1);
  overflow: hidden;
}

.sub-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1em;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color 0.2s cubic-bezier(.25, .8, .25, 1);
}

.sub-menu-item i {
  color: rgba(110, 110, 110, 1);
  font-weight: 100;
  font-size: 16px;
}

.sub-menu-item a {
  display: inline-block;
  color: rgba(165, 167, 168, 1);
  font-size: 12px;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 100;
  transition: color 0.2s cubic-bezier(.25, .8, .25, 1);
}

.sub-menu-item:hover {
  background-color: rgba(39, 44, 48, 1);
}

.sub-menu-item:hover>a {
  color: rgb(230, 230, 230);
  font-weight: 500;
}

.sub-menu-item:hover>i {
  color: rgb(220, 220, 220);
}

.sm-expanded {
  transition: all 0.3s $standardInterpolator;
}
