
$buttonColor: rgba(92, 96, 100, 1);
$fieldColor: rgba(255, 255, 255, 1);

.search {
  outline: 0;
  margin-left: 1.4em;
  margin-right: 1.4em;
  margin-bottom: 2em !important;
  margin-top: 2.5em;
  width: auto;
  display: flex;
  border-radius:4px;
  border: 0px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

  &-textbox {
    outline: 0;
    height: 38px;
    display: flex;
    font-size: 14px;
    justify-self: center;
    align-self: center;
    font-size: 14px;
    width: 80%;
    line-height: 42px;
    padding: 0 16px;
    background-color: $fieldColor;
    color: #212121;
    border: 0;
    border-width: 0px;
    float: left;
    border-radius: 4px 0 0 4px;
  
    &:focus {
      outline: 0;
      background-color: #FFF;
    }
  
    &:active {
      outline: 0;
      background-color: #FFF;
    }
  }

  &-button {
    display: flex;
    overflow: hidden;
    transform: scale(1.08);
    justify-self: center;
    align-self: center;
    outline: 0;
    height: 38px;
    background-color: $buttonColor;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #EEE;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out ;
    border-radius: 0 4px 4px 0;
  
    &:hover {
      transform: scale(1.05);
      background-color: rgba(112, 116, 120, 1);
    }
  
    &:active {
      transform: scale(1);
    }
  
    &:hover &-icon  {
      color: rgb(255, 255, 255);
    }

    &-icon {
      transition: all .2s ease-in-out ;
      font-size: 18px;
      margin: auto;
    }
  }
}