.content {
   margin-left: 19%;
   margin-right: 30%;
   margin-bottom: 0px;
   width: auto;
   position: relative;
   height: 450px;
   background-color: rgba(37, 42, 45, 1);
   background-color: rgb(48,53,56);
}
