.nav {
   -webkit-box-shadow: 0 2px 4px 2px rgba(0,0,0,0.4);
   -moz-box-shadow: 0 2px 4px 2px rgba(0,0,0,0.4);
   box-shadow: 0 2px 4px 2px rgba(0,0,0,0.4);
   align-items: center;
   background-color: rgba(39, 43, 45, 1);
   padding: 1em 2em;
   cursor: pointer;
   position: absolute;
   color: #eee;
   display: flex;
   height: 50px;
   top: 0;
   left: 0;
   right: 0;
   z-index: 2000;
}

.nav-padder {
   position: static;
   padding: 1em 2em;
   height: 50px;
}

.logo {
   display: inline-flex;
   text-align: center;
}

.logo-image {
   width: 40px;
   height: 40px;
   margin-right: 1em;
}

.logo-text {
   margin: auto;
   font-size: 1.2em;
   display: inline;
   font-weight: bold;
}

.logo-text a {
   text-decoration: none;
   color: #eee;
}

.nav ul {
   margin-left: auto;
   list-style: none;
   float: right;
   font-size: 0.8em;
   text-transform: uppercase;
}

.nav ul li {
   display: inline;
   padding: 0 20px;
   letter-spacing: 1px;
} 

.nav ul li a {
   text-decoration: none;
   color: #eee;
 }

/* .nav-link {
   -webkit-transition: color .3s ease;
   transition: color .3s ease;
 }
  */
 .nav ul li a.active {
   color: #c08d1e;
 }
 
 .nav ul li a:hover:not(.active) {
   color: #c08d1e;
 }